@model JITC.ViewModels.UserViewModels;
@{
    ViewData["Title"] = "Modification utilisateur";

   
}
<form asp-action="EditUser" enctype="multipart/form-data">
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container position d-flex justify-content-center">
            <div class="col-xl-6 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25">
                                    <img  src= "@Url.Content(@Model.Path)" class="img-radius" alt="User-Profile-Image">
                                </div>
                                    @if(@Model.Role.Equals("Admin"))
                                    {
                                        <p>Administrateur</p>
                                    }
                                    else if(@Model.Role.Equals("Pilote"))
                                    {
                                       <p>Pilot</p>
                                    }
                                    else
                                    {
                                        <p>Voyageur</p>
                                    }
                         
                                <button type="submit" style="border:none; background:Transparent; color:white;">
                                    <i class=" mdi mdi-content-save feather icon-edit m-t-10 f-16" style="font-size:25px;"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Nom :</p>
                                        <input asp-for="Name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="@Model.Name">    
                                        <h6>@Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Prénom :</p>
                                        <input  asp-for="LastName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="@Model.LastName">
                                        <h6>@Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })</h6>
                                    </div>
                                </div>
                   
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Adresse email</h6>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <input  asp-for="Email" type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" value="@Model.Email">
                                        <h6>@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</h6>



                                    </div>
                                </div>

                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Choisir une Image (non requis)</h6>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input asp-for="File" class="form-control" type="file" id="formFile" value="@Model.File">
                                        <h6>@Html.ValidationMessageFor(m => m.File, "", new { @class = "text-danger" })</h6>



                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</form>
<div class="notification">
        <a asp-controller="Message" asp-action="Index"> 


    
        <button type="button" class="icon-button">
            <span class="material-icons"><i class="fa-solid fa-envelope" style="color:white; font-size: 1.1rem;"></i></span>
            @if (Model.Notification != 0)
            {
                <span class="icon-button__badge">@Model.Notification</span> 
            }
           
          </button>
        </a>
        </div>